.header {
    height: 5rem;
    margin: 2;
    padding: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(66, 64, 207);
    padding: 0 10%;
}

.logo {
    font-size: 2rem;
    color:white;
    font-weight: bold;
}

.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
    
}

.header li {
    float: left;
}

.header a {
    display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover{
    background-color: rgb(185, 184, 234);
}

.header a:hover,
.header a:active {
    color: black;
}



